/**
 * Tailwind reset and base styles
 */
@import 'tailwindcss/base';

/**
 * Tailwind components
 */
@import 'tailwindcss/components';

/**
 * Awes UI components
 */
@import './components/_index.css';

/**
 * Comma helpers
 */
 @import './additional/_index.css';

/**
 * Tailwind utilities, MUST be last
 */
@import 'tailwindcss/utilities';

/**
 * Prism highlight
 */
@import 'prismjs/themes/prism.css';
[data-dark] {
    pre[class*="language-"] {
        background-color: theme('darkTheme.colors.surface');
    }
    code[class*="language-"] {
        color: theme('darkTheme.onColors.surface');
        text-shadow: 0 1px theme('darkTheme.colors.muted');
    }
}
pre[class*="language-"] {
    margin-top: 0;
    margin-bottom: 0;
}
