kbd {
    @apply bg-muted-dark border-1;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 1px 0 0 var(--c-surface) inset;
    display: inline-block;
    white-space: nowrap;
    font-family:Arial,Helvetica,sans-serif;
    line-height:1.5;
    font-size: .75em;
    margin: 0 .1em;
    padding: 0 .6em;
    text-shadow:0 1px 0 var(--c-surface);
}