@font-face {
    font-family: "aw-icons";
    src: url("../dist/fonts/aw-icons.woff2?07ef7f08f9db84ae727aa99dba9d3534") format("woff2"),
url("../dist/fonts/aw-icons.woff?07ef7f08f9db84ae727aa99dba9d3534") format("woff");
}

.aw-icon {
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.aw-icon:before {
    font-family: aw-icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.aw-icon-arrow-d:before {
    content: "\f101";
}
.aw-icon-arrow-l:before {
    content: "\f102";
}
.aw-icon-arrow-r:before {
    content: "\f103";
}
.aw-icon-arrow-u:before {
    content: "\f104";
}
.aw-icon-bold:before {
    content: "\f105";
}
.aw-icon-briefcase:before {
    content: "\f106";
}
.aw-icon-burger:before {
    content: "\f107";
}
.aw-icon-check:before {
    content: "\f108";
}
.aw-icon-chevron-d:before {
    content: "\f109";
}
.aw-icon-chevron-l:before {
    content: "\f10a";
}
.aw-icon-chevron-r:before {
    content: "\f10b";
}
.aw-icon-chevron-u:before {
    content: "\f10c";
}
.aw-icon-circle:before {
    content: "\f10d";
}
.aw-icon-close-circle:before {
    content: "\f10e";
}
.aw-icon-close:before {
    content: "\f10f";
}
.aw-icon-copy:before {
    content: "\f110";
}
.aw-icon-drag:before {
    content: "\f111";
}
.aw-icon-external:before {
    content: "\f112";
}
.aw-icon-eye-no:before {
    content: "\f113";
}
.aw-icon-eye:before {
    content: "\f114";
}
.aw-icon-font-size:before {
    content: "\f115";
}
.aw-icon-graph:before {
    content: "\f116";
}
.aw-icon-intelligence:before {
    content: "\f117";
}
.aw-icon-italic:before {
    content: "\f118";
}
.aw-icon-loader:before {
    content: "\f119";
}
.aw-icon-location:before {
    content: "\f11a";
}
.aw-icon-minus:before {
    content: "\f11b";
}
.aw-icon-more-v:before {
    content: "\f11c";
}
.aw-icon-more:before {
    content: "\f11d";
}
.aw-icon-plus:before {
    content: "\f11e";
}
.aw-icon-quote:before {
    content: "\f11f";
}
.aw-icon-schedule:before {
    content: "\f120";
}
.aw-icon-search:before {
    content: "\f121";
}
.aw-icon-settings:before {
    content: "\f122";
}
.aw-icon-speaker:before {
    content: "\f123";
}
.aw-icon-speed:before {
    content: "\f124";
}
.aw-icon-storage:before {
    content: "\f125";
}
.aw-icon-triangle-d:before {
    content: "\f126";
}
.aw-icon-triangle-l:before {
    content: "\f127";
}
.aw-icon-triangle-r:before {
    content: "\f128";
}
.aw-icon-triangle-u:before {
    content: "\f129";
}
.aw-icon-upload:before {
    content: "\f12a";
}
.aw-icon-user:before {
    content: "\f12b";
}
