@import './transition.css';

@import './usermenu.css';

@import './slider.css';
@import './button.css';
@import './button-nav.css';

@import './calendar.css';

@import './dropdown.css';
@import './dropdown-button.css';

@import './form.css';
@import './switch-field.css';
@import './text-field.css';
@import './date.css';

@import './layout.css';
@import './menu.css';
@import './menu-item.css';
@import './page.css';

@import './modal.css';

@import './table-head.css';

@import './notification.css';

@import './toggler.css';
@import './tooltip.css';

@import './dashboard.css';

/* last because of @keyframes lowers performance */
@import './animation.css';
