/* select uses */
.animation-rotate {
    animation: aw-rotate 1s linear infinite;
}

@keyframes aw-rotate {
    to {
        transform: rotate(1turn)
    }
}

/* chip uses */
.animation-pulse {
    animation: aw-pulse 1s infinite;
}

@keyframes aw-pulse {
    50% {
        transform: scale(1.3);
    }
}
