.aw-button {
    @apply inline-block cursor-pointer relative rounded; /* shape */
    @apply text-center text-xs font-medium no-underline; /* text */
    vertical-align: middle;
    transition: 100ms opacity;


    &:focus {
        outline: none;
    }

    &__overlay {
        @apply absolute inset-0 overflow-hidden rounded;
    }

    &__overlay {
        @apply opacity-0;
        background-color: currentColor;
        transition: 100ms opacity;
    }


    &__content {
        @apply relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: 100ms opacity;

        &:focus {
            outline: none;
        }
    }

    &:not(:disabled):hover > &__overlay {
        opacity: 0.2;
    }

    &:not(:disabled):active {
        transform: translateY(1px);
    }

    &:not(:disabled):active > &__overlay {
        opacity: 0.2;
    }

    &:focus > &__content {
        /* opacity: 0.15; */
        outline: theme('focusOutline', 'none');
    }

    /**
     * Sizes
     */
    &__content_xs {
        @apply px-1;
        font-size: 0.625rem;
    }

    &.theme-icon &__content_xs {
        width: theme('spacing.6');
        height: theme('spacing.6');
    }

    &.theme-system &__content_xs {
        @apply p-1;
    }

    &__content_sm {
        @apply px-2 py-1;
    }

    &.theme-icon &__content_sm {
        width: theme('spacing.8');
        height: theme('spacing.8');
    }

    &.theme-system &__content_sm {
        @apply p-2;
    }

    &__content_md {
        @apply px-4 py-3 text-sm leading-4;
    }

    &.theme-icon &__content_md {
        width: theme('spacing.12');
        height: theme('spacing.12');
    }

    &.theme-system &__content_md {
        @apply p-3;
    }

    &__content_lg {
        @apply px-10 py-3 text-base;
    }

    &.theme-icon &__content_lg {
        width: theme('spacing.16');
        height: theme('spacing.16');
    }

    &.theme-system &__content_lg {
        @apply p-4;
    }

    /* Mobile hidden text */

    @media (max-width: 768px) {
        &__content_xs&__content_no-text {
            padding: 3px;
        }

        &__content_sm&__content_no-text {
            @apply p-1;
        }

        &__content_md&__content_no-text {
            @apply p-2;
        }
    
        &__content_lg&__content_no-text {
            @apply p-3;
        }
    }

    /**
     * Disabled style
     */

    &[disabled] {
        @apply opacity-50;
        cursor: not-allowed!important;
        user-select: none!important;
    }

    /**
     * Loading styles
     */

    &.is-loading {
        @apply opacity-50;
        cursor: wait!important;
        user-select: none!important;
    }

    &.is-loading rect,
    &.is-loading svg {
        fill: currentColor;
    }

    &.is-loading &__loader {
        @apply absolute h-2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
    }

}

/**
 * Colors
 */
@each $color in (info, success, warning, error, surface) {
    .aw-button {
        /* Solid */
        &.theme-solid.color-$(color) {
            @apply bg-$(color);
        }

        /* Link */
        &.theme-ghost.color-$(color) {
            @apply text-$(color);
        }

        /* Outline */
        &.theme-outline.color-$(color) > &__overlay {
            @apply bg-$(color);
        }

        &.theme-outline.color-$(color):not(:disabled):hover,
        &.theme-outline.color-$(color).is-loading:disabled {
            @apply border-$(color);
        }

        &.theme-outline.color-$(color):not(:disabled):hover > &__content,
        &.theme-outline.color-$(color).is-loading:disabled {
            @apply text-on-$(color);
        }
    }
}

/* default color */
.aw-button {

    /* Solid */
    &.theme-solid.color-default {
        @apply bg-surface;
    }

    /* Link */
    &.theme-ghost.color-default {
        @apply text-on-muted-dark;
    }

    /* Outline */
    &.theme-outline.color-default:not(:disabled):hover {
        @apply border-surface text-surface;
    }

    &.theme-outline.color-default:not(:disabled):hover &__content {
        @apply text-on-surface;
    }
}

/**
 * Types
 */
.aw-button {
    &.theme-solid {
        @apply shadow-button;

        &:not(:disabled):active {
            @apply shadow-button-active;
        }
    }

    &.theme-solid &__overlay {
        @apply bg-overlay;
    }

    &.theme-outline {
        @apply text-disabled;
        border: 1px solid theme('colors.disabled')
    }

    &.theme-ghost &__overlay {
        @apply rounded;
    }

    &.theme-toggle &__overlay {
        @apply bg-overlay;
    }

    &.theme-toggle:hover &__overlay,
    &.theme-toggle:focus &__overlay {
        @apply opacity-0;
    }

    &.theme-toggle.is-active &__overlay {
        @apply opacity-10;
    }

    &.theme-icon {
        @apply p-0 min-w-0;
    }

    &.theme-icon &__overlay {
        @apply hidden;
    }

    &.theme-toggle &__content,
    &.theme-icon &__content {
        @apply opacity-40;
    }

    &.theme-toggle.is-text-active &__content,
    &.theme-outline:not(:disabled):hover > &__overlay,
    &.theme-outline.is-loading:disabled > &__overlay {
        @apply opacity-100;
    }

    &.theme-toggle:hover &__content,
    &.theme-icon:hover &__content,
    &.theme-toggle:focus &__content,
    &.theme-icon:focus &__content {
        @apply opacity-90;
    }

    &.theme-outline > &__overlay {
        @apply rounded-none;
    }

    /* System */
    &.theme-system {
        @apply text-disabled;
        border: 1px solid theme('borderColor.default');
    }

    &.theme-system &__overlay {
        @apply hidden;
    }

    &.theme-system:disabled {
        @apply opacity-100;
    }

    &.theme-system:disabled &__content {
        @apply opacity-50;
    }

    &.theme-system:not(:disabled):hover {
        @apply text-on-surface;
    }
}

/**
 * Button group
 */
.aw-button-group {
    @apply flex;

    .aw-button {
        margin: 0;

        &:first-child {
            @apply rounded-r-none;
        }

        &:last-child {
            @apply rounded-l-none;
        }

        &:not(:last-child):not(:first-child) {
            @apply rounded-none;
        }

        /* Outlined group */
        &.theme-outline {

            &:hover {
                @apply z-1;
            }

            &:not(:first-child) {
                @apply -ml-px;
            }
        }
    }
}
