.aw-button-nav {
    @apply bgcolor-muted-dark text-on-surface;
    display: inline-flex;
    border-radius: theme('borderRadius.lg');
    font-size: theme('fontSize.sm');

    & .aw-slider__scroller {
        padding: theme('spacing.1') 0;
    }

    &__toggler,
    &__toggler > span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__toggler {
        position: relative;
        flex-shrink: 0;
        padding: 0 theme('spacing.1');
        border-radius: theme('borderRadius.default');
        min-width: theme('spacing.8');
        line-height: theme('lineHeight.relaxed');
        white-space: nowrap;
    }

    &__toggler > span:not([class]) {
        border-radius: theme('borderRadius.default');
        padding: theme('spacing.1') theme('spacing.5');
    }

    &__toggler > span:before {
        @apply bgcolor-muted-darker;
        content: '';
        position: absolute;
        left: 0;
        top: theme('spacing.1');
        bottom: theme('spacing.1');
        width: 1px;
        display: block;
    }

    &__toggler:first-child > span:before {
        content: none;
    }

    &__toggler:focus, &__toggler > span:focus {
        outline: none;
    }

    &__toggler:focus > span {
        outline: theme('focusOutline', 'none');
    }

    &__toggler_active > span {
        @apply bgcolor-surface;
        border-radius: theme('borderRadius.default');
        box-shadow: theme('boxShadow.default');
    }

    &__toggler:hover > span {
        @apply bgcolor-muted;
    }

    &__toggler[disabled],
    &__toggler_disabled {
        @apply text-disabled;
        pointer-events: none;
        cursor: not-allowed;
    }
}
