.aw-button {
    @apply inline-block cursor-pointer relative rounded; /* shape */
    @apply text-center text-xs font-medium leading-loose tracking-wider uppercase no-underline; /* text */
    vertical-align: middle;
    transition: 100ms opacity;


    &:focus {
        outline: none;
    }

    &__overlay {
        @apply absolute inset-0 overflow-hidden;
    }

    &__overlay {
        @apply opacity-0;
        background-color: currentColor;
        transition: 100ms opacity;
    }

    &__overlay {
        @apply rounded;
    }


    &__content {
        @apply relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: 100ms opacity;

        &:focus {
            outline: none;
        }
    }

    &:not(:disabled):hover > &__overlay {
        opacity: 0.1;
    }

    &:not(:disabled):active > &__overlay {
        opacity: 0.3;
    }

    &:focus > &__content {
        /* opacity: 0.15; */
        outline: theme('focusOutline', 'none');
    }

    /**
     * Sizes
     */
    &__content_xs {
        @apply px-4;
        font-size: 0.625rem;
    }

    &.theme-icon &__content_xs {
        width: theme('spacing.6');
        height: theme('spacing.6');
    }

    &__content_sm {
        @apply px-5 py-1;
    }

    &.theme-icon &__content_sm {
        width: theme('spacing.8');
        height: theme('spacing.8');
    }

    &__content_md {
        @apply px-6 py-2 text-sm;
    }

    &.theme-icon &__content_md {
        width: theme('spacing.12');
        height: theme('spacing.12');
    }

    &__content_lg {
        @apply px-8 py-3 text-sm;
    }

    &.theme-icon &__content_lg {
        width: theme('spacing.16');
        height: theme('spacing.16');
    }

    /**
     * Disabled style
     */

    &[disabled],
    &.is-loading {
        cursor: not-allowed!important;
        user-select: none!important;
    }

    &:not(.is-loading)[disabled] {
        color: theme('colors.disabled') !important;
    }

    &:not(.is-loading)[disabled] &__content {
        opacity: 1 !important;
    }

    &:not(.is-loading):not(.theme-icon)[disabled] {
        background-color: rgba(148,151,153, .3) !important;
    }

    /**
     * Loading styles
     */

     &.is-loading {
        @apply opacity-50;
     }

     &.is-loading rect {
        fill: currentColor;
     }
}

/**
 * Colors
 */
@each $color in (info, success, warning, error) {
    .aw-button {

        /**
         * Types
         */

        /* Solid */
        &.theme-solid.color-$(color) {
            @apply bg-$(color);
        }

        /* Outline */
        /* Link */
        &.theme-outline.color-$(color),
        &.theme-ghost.color-$(color) {
            @apply text-$(color);
        }
    }
}

/* default color */
.aw-button {

    /* Solid */
    &.theme-solid.color-default {
        @apply bg-surface;
    }

    /* Outline */
    /* Link */
    &.theme-outline.color-default,
    &.theme-ghost.color-default {
        @apply text-on-muted-dark;
    }
}

/**
 * Types
 */
.aw-button {

    /* &.theme-solid,
    &.theme-outline,
    &.theme-ghost,
    &.theme-solid &__overlay,
    &.theme-outline &__overlay,
    &.theme-ghost &__overlay {
        @apply rounded;
    } */

    &.theme-solid {
        @apply shadow-md;

        &:not(:disabled):hover {
            @apply shadow-lg;
        }
    }

    &.theme-solid &__overlay {
        @apply bg-overlay;
    }

    &.theme-solid &__content {
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    }

    &.theme-outline {
        border: 1px solid currentColor
    }

    &.theme-ghost &__overlay {
        @apply rounded;
    }

    &.theme-toggle &__overlay {
        @apply bg-overlay;
    }

    &.theme-toggle:hover &__overlay,
    &.theme-toggle:focus &__overlay {
        @apply opacity-0;
    }

    &.theme-toggle.is-active &__overlay {
        @apply opacity-10;
    }

    &.theme-icon {
        @apply p-0 min-w-0;
    }

    &.theme-icon &__overlay {
        @apply hidden;
    }

    &.theme-toggle &__content,
    &.theme-icon &__content {
        @apply opacity-40;
    }

    &.theme-toggle.is-text-active &__content {
        @apply opacity-100;
    }

    &.theme-toggle:hover &__content,
    &.theme-icon:hover &__content,
    &.theme-toggle:focus &__content,
    &.theme-icon:focus &__content {
        @apply opacity-90;
    }
}

/**
 * Button group
 */
.aw-button-group {
    @apply flex;

    .aw-button {
        margin: 0;

        &:first-child {
            @apply rounded-r-none;
        }

        &:last-child {
            @apply rounded-l-none;
        }

        &:not(:last-child):not(:first-child) {
            @apply rounded-none;
        }

        /* Outlined group */
        &.theme-outline {

            &:hover {
                @apply z-1;
            }

            &:not(:first-child) {
                @apply -ml-px;
            }
        }
    }
}
