.dashboard {
    @apply flex flex-col h-full h-full;

    /* Change card styles */
    & > div {
        @apply p-4 h-full flex flex-col;
    }

    & .aw-chart {
        @apply mt-4;
    }

    & &__title {
        @apply flex justify-between items-center mb-4 font-heading font-bold text-on-muted-dark leading-none;
    }

    & &__description {
        @apply mb-0 text-disabled text-sm leading-snug font-body font-bold truncate;
    }

    & &__counter-wrapper {
        @apply absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.is-bottom {
            bottom: 0;
            top: unset;
            transform: translateX(-50%);
        }
    }

    & &__counter {
        @apply flex items-center text-4xl leading-snug font-heading text-on-muted-dark font-bold;

        .aw-icon {
            @apply text-2xl ml-3;
        }
    }

    & &__counter-wrapper &__counter {
        @apply block text-center leading-none text-3xl;
    }

    & &__content {
        @apply mb-4;
    }

    & &__chart {
        @apply flex-shrink-0 text-center flex-auto ml-8;
        min-width: 240px;
    }

    & &__legend {
        @apply mb-0 overflow-auto text-xs px-4 pt-4 pb-0;
        max-height: 152px;

        /* Fix for no bottom padding on scroll in Firefox & IE */
        &::after {
            content: "";
            display: block;
            height: 1rem;
            width: 100%;
        }

        &_shadow {
            @apply absolute overflow-hidden w-full;
            overflow: hidden;
            box-shadow: 0 0 1rem theme('colors.overlay');
            transition: opacity 100ms;
            backface-visibility: hidden;
            will-change: opacity;
            height: 2px;

            &_top {
                top: -5px;
                border-radius: 0 0 100% 100%;
            }

            &_bottom {
                bottom: -5px;
                border-radius: 100% 100% 0 0;
            }
        }

        &_difference {
            @apply ml-1 flex items-center justify-end;
            min-width: 3rem;

            .aw-icon {
                @apply text-xs ml-1;
            }
        }
    }

    & .chart-wrapper {
        @apply relative mx-auto;
        min-width: 100px;
        max-width: 236px;
    }

    &.is-wide .left-col {
        flex-grow: 1;
        max-width: 330px;
        flex-basis: 100%;
    }

    &.is-wide .chart-wrapper {
        @apply my-4;
    }

    /* Donut */
    &-donut .chart-wrapper {
        max-width: 180px;
    }

    &-donut.is-wide .chart-wrapper {
        max-width: 236px;
    }

    /* Progress */
    &-progress &__content {
        @apply flex items-center justify-between;
    }

    &-progress &__counter-wrapper &__counter {
        @apply text-base;
    }

    &-progress.is-wide &__counter-wrapper &__counter {
        @apply text-3xl;
    }

    &-progress.counter-hidden &__content {
        @apply justify-center;
    }

    &-progress .image {
        @apply absolute hidden;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -55%);
    }

    &-progress.is-wide .image {
        @apply block;
    }
}