
.dashboard-card {
    @apply max-w-full w-full border-l-2 relative overflow-hidden;

    & &__title {
        @apply text-sm font-body tracking-wide leading-snug mb-1;
    }

    & &__number {
        @apply text-3xl font-bold m-0 leading-snug;
    }

    & &__description,
    & &__subtitle,
    & &__footer {
        @apply text-xs text-disabled m-0;
    }

    & &__footer {
        @apply mt-5;
    }

    & &__button {
        @apply absolute rounded-full shadow-none z-20;
        top: 18px;
        right: 18px;

        .aw-button__overlay {
            @apply rounded-full;
        }
    }

    & &__background {
        @apply absolute rounded-full z-10;
        top: 19px;
        right: 19px;
        width: 20px;
        height: 20px;
        transition-duration: 0.25s;
        transition-timing-function: ease-out;
    }

    & &__wrapper {
        @apply absolute top-0 left-0 w-full h-full text-surface z-20;
    }

    & &__content {
        @apply w-full max-h-full;
        overflow: auto;
    }

    /* Opened styles */
    &.is-open &__background {
        /* transform: scale(50); */
        transition-duration: .4s;
        transition-timing-function: cubic-bezier(.39,.65,.51,.74);
    }
}