.aw-dropdown-button {
    @apply text-sm tracking-wider;
    line-height: 19px;
    display: block;
    position: relative;
    width: 100%;
    padding: 1px;
    border-radius: theme('borderRadius.default');

    & + & {
        margin-top: 1px;
    }

    & > span {
        display: block;
        padding: calc(theme('spacing.3') - 1px) calc(theme('spacing.4') - 1px);
    }

    /* Same active state for all modifiers */
    &.is-active {
        background-color: color(theme('colors.info') alpha(20%));
    }

    &:focus, & > span:focus {
        outline: none;
    }

    &:focus > span {
        outline: 1px dashed theme('colors.info');
    }

    /* Default color */
    &_default {
        &:hover {
            background-color: theme('colors.muted');
        }
    }
}


/* Color modifiers */
@each $color in (success, warning, error) {
    .aw-dropdown-button_$(color) {
        $currentColor: theme('colors.$(color)');

        color: $currentColor;

        &:hover {
            background-color: color($currentColor alpha(10%));
        }
    }
}
