.aw-dropdown {
    @apply bg-surface;
    box-shadow: 0 7px 15px -3px rgba(0,0,0,.1), 0 4px 6px 0px rgba(0,0,0,0.1);
    min-width: 160px;
    overflow: auto;
    scrollbar-width: thin;
}

/**
 * Transition
 */

.fade {

    &-enter,
    &-leave-to {
        opacity: 0;
    }

    &-enter-active,
    &-leave-active {
        transition: opacity 200ms ease;
    }
}

.caret {
    transition: 200ms transform ease-out
}

.rotate-90 {
    transform: rotate(-90deg)
}

.rotate-180 {
    transform: rotate(-180deg)
}

.transition-200 {
    transition: 200ms transform
}
