.aw-dropdown-button {
    @apply text-sm whitespace-no-wrap;
    line-height: 19px;
    display: block;
    position: relative;
    width: 100%;
    padding: 2px;
    border-radius: theme('borderRadius.default');

    & + & {
        margin-top: 1px;
    }

    & > span {
        display: block;
        padding: calc(theme('spacing.3') - 2px) calc(theme('spacing.4') - 2px);
    }

    /* Same active state for all modifiers */
    &.is-active {
        background-color: color(theme('colors.info') alpha(20%));
    }

    &:focus, & > span:focus {
        outline: none;
    }

    &:focus > span {
        outline: theme('focusOutline', 'none');
    }

    /* Default color */
    &_default {
        color: inherit;

        &:hover {
            @apply bg-mono-800;
        }
    }
}


/* Color modifiers */
@each $color in (success, warning, error) {
    .aw-dropdown-button_$(color) {
        color: var(--c-$(color));

        &:hover {
            background-color: rgba(var(--c-$(color)-rgb), 0.1);
        }
    }
}
