.aw-error {
    @apply leading-tight bg-error;
    position: absolute;
    cursor: default;
    padding: theme('spacing.2', 0.5rem) theme('spacing.4', 1rem);
    font-size: theme('fontSize.xs', .75rem);
    width: max-content;
    max-width: calc(100% - 1rem);

    &[class*="has-pin-"]:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        position: absolute;
    }

    &[class*="has-pin-bottom-"]:after {
        border-bottom-width: 0;
        border-top-color: var(--c-error);
    }

    &.has-pin-bottom-left:after {
        left: theme('spacing.3', .75rem);
        top: 100%;
        margin-left: -6px;
    }

    &.has-pin-bottom-center:after {
        margin-left: -5px;
        left: 50%;
        top: 100%;
    }

    &.is-left {
        left: 0;
        bottom: 100%;
        margin-bottom: -.4rem;
    }

    &.is-center {
        left: 50%;
        bottom: 100%;
        transform: translate(-50%, 5px);
    }
}
