.aw-form {
    /* loading state */
    &.is-loading {
        .aw-text-field,
        .aw-switch-field {
            opacity: .5;
            pointer-events: none;
            user-select: none;
        }
    }
}
