.aw-layout {
    display: flex;
    flex-direction: column;

    &__aw-layout-menu {
        max-width: 290px;
        height: 100vh;

        flex-shrink: 0;

        box-shadow: theme('boxShadow.default');

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;

        &.aw-layout-menu--no-submenu {
            max-width: 60px;
        }

        & ~ * {
            max-width: calc(100% - 290px);
            margin-left: 290px;
        }

        &.aw-layout-menu--no-submenu ~ * {
            max-width: calc(100% - 60px);
            margin-left: 60px;
        }
    }
}

.layout {

    &&--default,
    &&--simple {
        position: relative;
    }

    &__notification {
        @apply text-sm relative;
    }

    &__notification-container {
        @apply flex justify-center items-center flex-wrap;
        min-height: theme('spacing.16');
    }

    &__notification--close .container {
        @apply pr-12;
    }

    &__close {
        @apply absolute p-2;
        top: theme('spacing.8');
        right: theme('spacing.4');
        transform: translateY(-50%);

        &:before {
            content: '';
            background-color: currentColor;
            opacity: 0;
            transition: 120ms opacity;
            @apply absolute inset-0 rounded;
        }

        &:focus {
            outline: none;
        }

        & > svg {
            position: relative;
            fill: currentColor;
        }

        & > svg:focus {
            outline: none;
        }

        &:hover:before,
        &:focus:before {
            opacity: 0.3;
        }

        &:active:before {
            opacity: 0.2;
        }
    }

    &__container {
        @apply min-h-screen flex flex-col px-4 py-8 items-center justify-center;
        max-width: 30rem;
    }

    &__header {
        @apply flex items-center bg-surface top-0 z-20 bg-brand py-3 order-first;
        min-height: theme('spacing.16');
        transition: 200ms box-shadow;
    }

    &__content {
        @apply flex flex-col min-h-screen;
    }

    &__navbar-list {
        & li + li {
            @apply ml-3;
        }
    }

    &__navbar-logo {
        height: 36px;
    }

    &__center-logo {
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 35rem) {

    .layout {

        &&--frame-center &__frame {
            @apply bg-surface p-12 shadow-lg;
        }

        &&--frame-left &__frame {
            @apply bg-surface w-2/3 shadow-lg;
        }
    }
}

@media (max-width: 35rem) {
    .layout {

        &&--frame-center,
        &&--frame-left {
            background-image: none !important;
        }
    }
}

@screen lg {

    .layout {

        &&--default,
        &&--simple {
            @apply flex min-h-screen;
        }

        &__content {
            @apply flex-grow max-w-full;
            padding-left: theme('spacing.64');
            transition: 250ms padding-left ease-out;
            will-change: padding-left;

            &.is-wide {
                padding-left: theme('spacing.10');
            }
        }

        &__notification-container {
            @apply flex-no-wrap;
        }

        &&--simple &__content {
           @apply pl-0;
        }

        &__logo {
            @apply mb-16;
        }

        &__header {
            @apply bg-surface order-none;
        }

        &&--simple &__header {
            @apply bg-brand;
        }

        &&--frame-left &__frame {
            @apply w-1/2;
        }
    }
}
