.layout {

    &&--default,
    &&--simple {
        position: relative;
    }

    &__notification {
        @apply py-3 pl-8 pr-12 flex justify-center items-center font-body text-sm relative;
        min-height: theme('spacing.16');
    }

    &__close {
        @apply absolute;
        top: theme('spacing.8');
        right: theme('spacing.4');
        transform: translateY(-50%);
    }

    &__container {
        @apply min-h-screen flex flex-col px-4 py-8 items-center justify-center;
        max-width: 30rem;
    }

    &__header {
        @apply flex items-center bg-surface top-0 z-20 bg-brand py-3 order-first;
        min-height: theme('spacing.16');
        transition: 200ms box-shadow;
    }

    &__content {
        @apply flex flex-col min-h-screen;
    }

    &__navbar-list {
        & li + li {
            @apply ml-3;
        }
    }
}

@media (min-width: 35rem) {

    .layout {

        &&--frame-center &__frame {
            @apply bg-surface p-12 shadow-lg;
        }

        &&--frame-left &__frame {
            @apply bg-surface w-2/3 shadow-lg;
        }
    }
}

@media (max-width: 35rem) {
    .layout {

        &&--frame-center,
        &&--frame-left {
            background-image: none !important;
        }
    }
}

@screen lg {

    .layout {

        &&--default,
        &&--simple {
            @apply flex min-h-screen;
        }

        &__content {
            @apply flex-grow max-w-full;
            padding-left: theme('spacing.64');
            transition: 250ms padding-left ease-out;
            will-change: padding-left;

            &.is-wide {
                padding-left: theme('spacing.10');
            }
        }

        &&--simple &__content {
           @apply pl-0;
        }

        &__logo {
            @apply mb-16;
        }

        &__header {
            @apply bg-surface order-none;
        }

        &&--simple &__header {
            @apply bg-brand;
        }

        &&--frame-left &__frame {
            @apply w-1/2;
        }
    }
}
