.aw-layout-menu {
    @apply bg-brand;
    --gradient-color: rgba(var(--c-danger-rgb, 200,0,0), 0.05);
    background-image: linear-gradient(var(--c-transparent, transparent), var(--gradient-color, transparent));

    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 90px auto auto 90px;

    z-index: 1;

    &__logo,
    &__aw-user-menu {
        display: block;
        width: 100%;
        padding: theme('spacing.3');
        margin: auto 0;
    }

    &__menu,
    &__secondary-menu {
        --icon-color: rgba(var(--c-on-brand-rgb), 0.5);
        --icon-color-active: rgba(var(--c-on-brand-rgb), 1);
        display: flex;
        flex-direction: column;
    }

    &__menu {
        align-self: start;
    }

    &__item {
        &--triangle:after {
            content: '';
            display: block;
            width: 0.5em;
            height: 0.5em;
            border: 0.25em solid transparent;
            border-right-color: var(--c-surface, white);

            position: absolute;
            right: 0;
            top: calc(50% - 0.25em);
        }
    }

    &__secondary-menu {
        align-self: end;
    }

    &__submenu {
        @apply bg-surface;
        width: 230px;
        max-height: 100vh;

        grid-column: 2;
        grid-row: 1 / 5;

        overflow-y: auto;

        scrollbar-width: thin;

        &--hidden {
            width: 0px;
        }
    }
}
