.aw-menu-item {
    display: flex;
    flex-wrap: wrap;

    &__button,
    &__child,
    &__toggler {
        display: flex;
        align-items: center;
        transition: 120ms background-color;
    }

    &__button > *:not(&__badge),
    &__child > *,
    &__toggler > * {
        opacity: 0.4;
        transition: 120ms opacity;
    }

    &__button,
    &__toggler {
        padding-top: theme('spacing.4');
        padding-bottom: theme('spacing.4');
    }

    &__button:focus,
    &__child:focus,
    &__toggler:focus {
        outline: none;
    }

    &__button:hover,
    &__child:hover,
    &__toggler:hover,
    &__button:focus,
    &__button:hover + &__toggler,
    &__button:focus + &__toggler {
        background-color: color(theme('colors.overlay') a(0.15))
    }

    &__button:hover > *,
    &__child:hover > *,
    &__toggler:focus > *,
    &__toggler:hover > * {
        opacity: 1;
    }

    &_opened:not(&_expanded) {
        background-color: color(theme('colors.overlay') a(0.15))
    }

    /* current route state */
    &__button.is-active,
    &__child.is-active {
        background-color: color(theme('colors.overlay') a(0.15));

        & > * {
            opacity: 1;
        }
    }

    &__button.is-active + &__toggler {
        background-color: color(theme('colors.overlay') a(0.15));
    }

    &_has-active:not(&_opened) &__button,
    &_has-active:not(&_opened) &__button + &__toggler {
        background-color: color(theme('colors.overlay') a(0.15));
    }

    &__button {
        overflow: hidden;
        flex: 1 1 auto;

        /* reserve place for toggler (8) and badge (10) */
        padding-right: theme('spacing.18', 4.5rem);

        /* reserve place for icon */
        padding-left: theme('spacing.16');
    }

    /* remove reserved place for toggler  */
    &_has-toggler &__button {
        max-width: calc(100% - theme('spacing.8'));
        padding-right: theme('spacing.10');
    }

    /* remove reserved place for badge  */
    &_has-badge &__button {
        padding-right: theme('spacing.8');
    }

    /* remove reserved place for toggler and badge  */
    &_has-badge&_has-toggler &__button {
        padding-right: 0;
    }

    /* remove reserved place for icon  */
    &_has-icon &__button {
        padding-left: theme('spacing.6');
    }

    &__toggler {
        box-sizing: content-box;
        width: theme('spacing.4');
        padding: theme('spacing.2');
        flex-shrink: 0;
        justify-content: center;
    }

    &__badge {
        width: theme('spacing.10');
        justify-content: center;
        margin-left: auto;
        margin-right:
    }

    &__caret {
        transition: 300ms transform ease-out-sine;
    }

    &_opened &__caret {
        transform: rotate(90deg);
    }

    &__children {
        width: 100%;
    }

    &__child {
        width: 100%;
        font-size: theme('fontSize.sm');
        line-height: theme('lineHeight.relaxed');
        padding: theme('spacing.3');
        padding-left: theme('spacing.10');

        span:before {
            content: '-';
            display: inline-block;
            width: theme('spacing.2');
            margin-right: theme('spacing.4');
        }
    }
}
