.aw-menu-item {
    display: flex;
    flex-wrap: wrap;

    &__button,
    &__child {
        display: flex;
        align-items: center;
        transition: 120ms background-color;
    }

    &__button > *:not(&__badge),
    &__button > *:not(&__toggler),
    &__child > * {
        opacity: 0.5;
        transition: 120ms opacity;
    }

    &__button > &__icon-colored {
        opacity: 1;
    }

    &__button,
    &__toggler {
        padding-top: theme('spacing.4');
        padding-bottom: theme('spacing.4');
    }

    &__button:focus,
    &__child:focus,
    &__toggler:focus {
        outline: none;
    }

    &__button:hover,
    &__child:hover,
    &__button:focus
    {
        background-color: color(theme('colors.overlay') a(0.15));
    }

    &__button:hover > *,
    &__child:hover > *,
    &__child:focus > * {
        opacity: 1;
    }

    &_opened:not(&_expanded) {
        background-color: color(theme('colors.overlay') a(0.15))
    }

    /* current route state */
    &__button.is-active,
    &__child.is-active {
        background-color: color(theme('colors.overlay') a(0.15));

        & > * {
            opacity: 1;
        }
    }

    &_has-active:not(&_opened) &__button,
    &_has-active:not(&_opened) &__button + &__toggler {
        background-color: color(theme('colors.overlay') a(0.15));
    }

    &__button {
        overflow: hidden;
        flex: 1 1 auto;
        padding-right: theme('spacing.4', 1rem);
        padding-left: theme('spacing.6');
    }

    &_icon-padding &__button {
        /* reserve place for icon */
        padding-left: theme('spacing.16');
    }

    &.is-thin &__button {
        padding-right: theme('spacing.4');
        padding-left: theme('spacing.4');
        padding-top: theme('spacing.2');
        padding-bottom: theme('spacing.2');
    }

    /* remove reserved place for icon  */
    &_has-icon &__button {
        padding-left: theme('spacing.6');
    }

    &__toggler {
        box-sizing: content-box;
        width: theme('spacing.4');
        padding: theme('spacing.1');
        flex-shrink: 0;
        justify-content: center;
    }

    &__badge {
        justify-content: center;
        margin-left: auto;
    }

    &__caret {
        transition: 300ms transform ease-out-sine;
    }

    &_opened &__caret {
        transform: rotate(90deg);
    }

    &__children {
        width: 100%;
    }

    &__child {
        width: 100%;
        font-size: theme('fontSize.sm');
        line-height: theme('lineHeight.relaxed');
        padding: theme('spacing.4');
        padding-left: theme('spacing.10');

        & > span:first-child:before {
            content: '-';
            display: inline-block;
            width: theme('spacing.2');
            margin-right: theme('spacing.4');
        }
    }

    .external-icon {
        position: relative;
    }
    
    .external-icon::before {
        /* Center wide menu icons */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
