.aw-mobile-menu {
    @apply bg-mono-900;
    width: 400px;
    max-width: 100%;

    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;

    overflow-y: auto;
    overscroll-behavior: none;

    opacity: 0;
    visibility: hidden;
    transition: 180ms opacity, 0ms visibility 180ms;
    will-change: opacity;

    & > * {
        flex-shrink: 0;
    }

    &__header {
        @apply bg-surface shadow;
        display: flex;
        align-items: center;

        padding: theme('spacing.1', 0.25rem) theme('spacing.2', 0.5rem);
        margin-bottom: theme('spacing.3', 0.75rem);

        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &__user {
        padding: 0 theme('spacing.2', 0.5rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: theme('spacing.4', 1rem);
    }

    &__user-name {
        max-width: 100%;
        margin-top: theme('spacing.2', 0.5rem);

        font-family: theme('fontFamily.heading');
        font-size: theme('fontSize.2xl', 1.5rem);
    }

    &__user-edit {
        color: var(--c-mono-400);
        margin-left: theme('spacing.2', 0.5rem);
        line-height: 1;

        &:hover {
            color: var(--c-link);
        }
    }

    &__user-desc {
        max-width: 100%;
        color: var(--c-mono-400);
    }

    &__logo {
        display: block;
        align-self: center;
        padding: theme('spacing.1', 0.25rem) theme('spacing.4', 1rem);
        margin-top: auto;

        > img {
            min-height: 2rem;
            max-width: 2rem;
            margin: auto;
        }
    }

    &__version {
        display: block;
        padding: 0 theme('spacing.2', 0.5rem) theme('spacing.2', 0.5rem);
        font-size: theme('fontSize.xs', 0.75rem);
        text-align: center
    }

    &__close {
        display: block;
        padding: theme('spacing.3') theme('spacing.4');
        margin-left: auto;
    }

    &__overlay {
        content: '';
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 400px;
        width: calc(100% - 400px);
        background: theme('colors.overlay');
        backdrop-filter: blur(3px);

        &:focus {
            outline: none;
        }
    }

    &__widgets {
        padding: theme('spacing.4');
    }

    &__menu {
        font-size: theme('fontSize.lg', 1.125rem);
        margin: 0 theme('spacing.2', 0.5rem) theme('spacing.10', 2.5rem);

        h3, h4 {
            color: var(--c-mono-400);
            font-size: inherit;
            padding: 0 theme('spacing.4', 1rem);
            margin-bottom: theme('spacing.4', 1rem);
        }

        ol, ul {
            border-radius: theme('borderRadius.lg', 0.5rem);
            box-shadow: theme('boxShadow.default');

            overflow: hidden;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li + li {
            border-top-width: 1px;
        }
    }

    /**
     * Open transition
     */
    &--visible {
        opacity: 1;
        visibility: visible;
        transition: 60ms opacity ease-out, 0ms visibility;
    }
}
