.aw-mobile-menu-item {
    @apply bg-surface;
    display: flex;
    align-items: center;
    width: 100%;

    &:hover,
    &:focus {
        oultine: none;
        text-decoration: none;
    }

    &--active {
        color: var(--c-accent);
        font-weight: bold;
    }

    & + & {
        border-top: 1px solid var(--c-mono-800);
    }

    &__icon {
        @apply -mr-1 ml-6;
    }

    &__text {
        @apply py-4 px-6 truncate;
        flex-grow: 1;
    }

    &__arrow {
        @apply my-3 mr-3;
        color: var(--c-on-surface);
    }
}
