.aw-user-heading {
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    grid-template-rows: 160px auto;

    width: 100%;
    padding-top: theme('spacing.4');
    padding-bottom: theme('spacing.4');

    &__breadcrumb {
        @apply text-mono-400;
        padding-right: theme('spacing.4');

        a:hover,
        a:focus {
            outline: none;

            span {
                text-decoration: underline;
                outline: none;
            }
        }
    }

    &__userpic {
        --ui-avatar-size: 160px;
        @apply text-7xl;
        text-align: center;

        grid-column: 2;
        grid-row: 1;

        transition: 120ms opacity;

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:hover,
        &:focus-visible {
            opacity: 0.85;
        }
    }

    &__info {
        grid-column: 1 / 4;
        grid-row: 2;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: theme('spacing.4');
    }
}

@screen lg {
    .aw-user-heading {
        grid-template-columns: 92px auto;
        grid-template-rows: auto auto;

        &__breadcrumb {
            grid-column: 2;
            grid-row: 1;

            align-self: end;

            padding-left: theme('spacing.4');
        }

        &__userpic {
            --ui-avatar-size: 92px;
            @apply text-4xl;

            grid-column: 1;
            grid-row: 1 / 3;
        }

        &__info {
            grid-column: 2;
            grid-row: 2;
            align-items: start;

            padding-top: 0;
            padding-left: theme('spacing.4');
        }
    }
}
