.aw-page {
    @apply flex flex-col flex-grow;

    &__title {
        @apply flex items-center text-lg leading-tight font-heading py-2;
        min-height: theme('spacing.16');
    }

    &__subnav {
        @apply relative bg-muted;

        &:after {
            content: '';
            @apply absolute bottom-0 pb-4 left-0 w-full border-t;
        }
    }

    &__tabs:after {
        display: none;
    }

    &__content {
        @apply py-4 flex-grow bg-muted;
    }

    &__content_fullscreen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > .container {
            max-width: unset;
            @apply px-4;
        }
    }

    &__content_fake-fullscreen {
        @apply fixed inset-0;
        z-index: 120;
    }
}
@screen sm {
    .aw-page {
        &__title {
            @apply text-3xl;
        }
    }
}
@screen lg {
    .aw-page__content:not(.aw-page__content_fullscreen) {
        @apply py-8;
    }
}
