/* .aw-page {
    @apply flex flex-col flex-grow;

    &__title {
        @apply inline-flex flex-wrap items-center text-lg leading-tight font-heading;
    }

    &__title_min-height {
        @apply py-2;
        min-height: theme('spacing.16');
    }

    &__subnav {
        @apply relative bg-mono-900;

        &:after {
            content: '';
            @apply absolute bottom-0 pb-4 left-0 w-full border-t;
        }
    }

    &__tabs:after {
        display: none;
    }

    &__content {
        @apply py-4 flex-grow bg-mono-900;
    }

    &__content_fullscreen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > .container {
            max-width: unset;
            @apply px-4;
        }
    }

    &__content_fake-fullscreen {
        @apply fixed inset-0;
        z-index: 120;
    }
}
@screen sm {
    .aw-page {
        &__title {
            @apply text-3xl;
        }
    }
}
@screen lg {
    .aw-page__content:not(.aw-page__content_fullscreen) {
        @apply py-8;
    }
}
 */

.aw-page {
    @apply bg-mono-900;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* full height in aw-layout */

    &__heading {
        border-bottom-width: 1px;
    }

    &__subnav .aw-tab-nav {
        border-bottom: none;
    }

    &__content {
        @apply pt-8 pb-5;
        flex-grow: 1;
    }
}

@screen lg {
    .aw-page {
        &__content {
            @apply pt-10 pb-8;
        }

        &__aw-bottom-bar.aw-bottom-bar {
            display: none;
        }
    }
}
