.$(prefix)-tabs {
    @apply relative flex overflow-x-auto mb-4;

    &:after {
        content: '';
        @apply absolute bottom-0 left-0 w-full border-b opacity-50;
    }

    &__tab {
        @apply py-4;
        transition: 200ms opacity;

        /* &:not(.is-active) {
            @apply opacity-50;
        } */

        &:focus {
            outline: none;
        }

        & + & {
            @apply ml-4;
        }
    }

    &__marker {
        @apply absolute left-0 bottom-0 bg-brand;
        height: 2px;
        transition: 200ms all;
        will-change: left, width;
    }
}
