.aw-toggler__content::before {
    content: '';
    @apply absolute w-0 h-0 top-0 border-muted-dark;
    left: theme('spacing.3');
    border-left: theme('spacing.3') solid transparent;
    border-right: theme('spacing.3') solid transparent;
    border-bottom-width: theme('spacing.3');
    transform: translateY(-0.75rem);
}
